<div class="bg-primary">
    <section class="section section-2">
        <div class="container">
            <div class="row">
                <div class="single-page single-pageimage construction-bg cover-image " data-image-src="assets/img/news/img14.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="wrapper wrapper2">
                                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="login" class="card-body" tabindex="500">
                                    <h3>Admin Login</h3>
                                    <div [ngClass]="{'has-error': loginForm.get('email').errors && loginForm.get('email').touched}" class="mail">
                                        <input type="email" formControlName="email" id="email" name="mail">
                                        <label>Email</label>
                                        <span
                                        *ngIf="loginForm.controls['email'].hasError('required') && loginForm.get('email').touched"
                                        class="align errormsg text-danger">Email is required</span>
                                        <span style="margin-right: 197px;"
                                      *ngIf="loginForm.controls['email'].hasError('email') && loginForm.get('email').touched"
                                      class=" errormsg text-danger">Email is not valid</span>
                                    </div>
                                
                                    <div [ngClass]="{'has-error': loginForm.get('password').errors && loginForm.get('password').touched}" class="passwd">
                                        <input type="password" name="password" 
                                        class="form-control large-field" formControlName="password">
                                        <label>Password</label>
                                        <span style="margin-right: 197px;"
                                      *ngIf="loginForm.controls['password'].hasError('required') && loginForm.get('password').touched"
                                      class=" errormsg text-danger"> Password is required</span>
                                    <span style="margin-right: 96px;"
                                      *ngIf="loginForm.controls['password'].hasError('minlength') && loginForm.get('password').touched"
                                      class=" errormsg text-danger"> Password must be atleast 8 character long</span>
                                    </div>
                                    
                                    <div class="submit">
                                        <button class="btn btn-primary btn-block" [disabled]="loginForm.invalid || isBusy" type="submit">
                                            Login
                                        </button>
                                    </div>
                                    <p class="mb-2"><a [routerLink]="['/forgot-password']">Forgot Password</a></p>
                                    <!-- <p class="text-dark mb-0">Don't have account?<a [routerLink]="['/signup']" class="text-primary ml-1">Sign UP</a></p> -->
                                </form>
                                <!-- <div class="card-body border-top">
                                    <a class="btn  btn-social btn-facebook btn-block"><i class="fa fa-facebook"></i> Sign in with Facebook</a>
                                    <a class="btn  btn-social btn-google btn-block mt-2"><i class="fa fa-google-plus"></i> Sign in with Google</a>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="log-wrapper text-center">
                                <img src="assets/img/brand/farm-funds-logo.png" class="mb-2 mt-4 mt-lg-0 " alt="logo" style="border-top-right-radius: 25px;border-bottom-right-radius: 25px;margin-left: -10px;">
                                <!-- <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure</p>
                                <a class="btn btn-primary mt-3" href="#">Read More</a> -->
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
    </section>
</div>