<div class="app-content">
  <section class="section">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">View</a></li>
      <li class="breadcrumb-item active" aria-current="page">Customer Dashboard</li>
    </ol>
    <a [routerLink]="['/admin/customers-list']" class="float-right btn btn-outline btn-xs btn-gray m-b-5 m-t-5">
      <i class="fa fa-reply-all" data-toggle="tooltip" title="fa-reply-all"></i>
    </a>

    <div class="section-body">

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4>Customer Dashboard ({{customer?.user}})</h4>
            </div>
            <div class="card-body">
              <div class="row">
						    <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
								<div class="card">
									<div class="card-body text-center">
										<h5>Total Investments</h5>
										
										<div class="text-center">
											<div class="mb-3 mt-1">
												<span class="sparkline_line" ></span>
											</div>
											<h3 class="mb-2 text-dark">{{customer?.investments.totalInv | currency: '&#8358; '}}</h3>
                      <span class="text-green"><i class="fa fa-arrow-up text-success"> </i>100% increase</span><small> today</small>
										</div>
									</div>
								</div>
							</div>
							
							<div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
								<div class="card">
									<div class="card-body text-center">
										<h5>Total Roi</h5>
										
										<div class="text-center">
											<div class="mb-3 mt-1">
												<span class="sparkline_pie" ></span>
											</div>
											<h3 class="mb-2 text-dark">{{customer?.investments.totalRoi | currency: '&#8358; '}}</h3>
                      <span class="text-green"><i class="fa fa-arrow-up text-success"> </i>100% increase</span><small> today</small>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
								<div class="card">
									<div class="card-body text-center">
										<h5>Total Gain</h5>
										
										<div class="text-center">
											<div class="mb-3 mt-1">
												<span class="sparkline_bar" ></span>
											</div>
											<h3 class="mb-2 text-dark">{{customer?.investments.totalGain | currency: '&#8358; '}}</h3>
                      <span class="text-green"><i class="fa fa-arrow-up text-success"> </i>100% increase</span><small> today</small>
										</div>
									</div>
								</div>
							</div>
							
            </div>
            
            <div class="row">
              <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
              <div class="card">
                <div class="card-body text-center">
                  <h5>Total Subscriptions</h5>
                  
                  <div class="text-center">
                    <div class="mb-3 mt-1">
                      <span class="sparkline_line" ></span>
                    </div>
                    <h3 class="mb-2 text-dark">{{customer?.subscribers.totalSub | currency: '&#8358; '}}</h3>
                    <span class="text-green"><i class="fa fa-arrow-up text-success"> </i>100% increase</span><small> today</small>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
              <div class="card">
                <div class="card-body text-center">
                  <h5>Total Roi</h5>
                  
                  <div class="text-center">
                    <div class="mb-3 mt-1">
                      <span class="sparkline_pie" ></span>
                    </div>
                    <h3 class="mb-2 text-dark">{{customer?.subscribers.totalRoi | currency: '&#8358; '}}</h3>
                    <span class="text-green"><i class="fa fa-arrow-up text-success"> </i>100% increase</span><small> today</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
              <div class="card">
                <div class="card-body text-center">
                  <h5>Total ROC</h5>
                  
                  <div class="text-center">
                    <div class="mb-3 mt-1">
                      <span class="sparkline_bar" ></span>
                    </div>
                    <h3 class="mb-2 text-dark">{{customer?.subscribers.totalRoc | currency: '&#8358; '}}</h3>
                    <span class="text-green"><i class="fa fa-arrow-up text-success"> </i>100% increase</span><small> today</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-xl-3 col-md-6 col-sm-6 col-12">
              <div class="card">
                <div class="card-body text-center">
                  <h5>Total Food Order</h5>
                  
                  <div class="text-center">
                    <div class="mb-3 mt-1">
                      <span class="sparkline_area" ></span>
                    </div>
                    <h3 class="mb-2 text-dark">{{customer?.purchases.totalOrder | currency: '&#8358; ' }}</h3>
                    <span class="text-green"><i class="fa fa-arrow-up text-success"> </i>100% increase</span><small> today</small>

                  </div>
                </div>
              </div>
            </div>
          </div>

            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h4> Food Bank Subscriptions count: {{customer?.subscribers.subs.length}}</h4>
            </div>
            <div class="card-body">
              <div class="e-table">
                <div class="table-responsive table-lg">
                  <table class="table table-bordered table-striped table-bordered mb-0 text-nowrap">
                    <tr>
                      <th class="text-center">S/N</th>
                      <th>Subscription Amount</th>
                      <th>Unit</th>
                      <th>Roi</th>
                      <th>Roc</th>
                      <th>Payment Type </th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Status</th>
                    </tr>
                    <tr *ngFor="let item of customer?.subscribers.subs; let i = index">
                      <td class="">{{i + 1}}</td>
                      <td class="text-right">{{item?.amount | currency: '&#8358; '}}</td>
                      <td class="">{{item?.unit}}</td>
                      <td class="text-right">{{item?.roi | currency: '&#8358; '}}</td>
                      <td class="text-right">{{item?.roc | currency: '&#8358; '}}</td>
                      <td class="">{{item?.paymentType}}</td>
                      <td class="">{{item?.startDate | date: "mediumDate"}}</td>
                      <td class="">{{item?.endDate | date: "mediumDate"}}</td>
                      <td><label
                          [ngClass]="{'badge badge-warning badge-pill size': item.status === 'Pending', 'badge badge-success': item.status === 'Activated'}">{{item.status}}</label>
                      </td>

                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <!-- <div >
                            <pagination-controls
                            class="my-pagination"
                                previousLabel="Prev"
                                nextLabel="Next"
                                responsive="true"
                                (pageChange)="handlePageChange($event)">
                            </pagination-controls>
                        </div> -->
          </div>
          <div class="card">
            <div class="card-header">
              <h4>Food Bank Orders count: {{customer?.purchases.purchases.length}}</h4>
            </div>
            <div class="card-body">
              <span *ngIf="showDetails" class="pull-right">
                <a title="View parent" class="text-primary detail" (click)="back()"><i class="fa fa-arrow-left">
                    Back</i></a>
              </span>
              <div class="e-table">
                <div class="table-responsive table-lg">
                  <table *ngIf="!showDetails"
                    class="table table-bordered table-striped table-bordered mb-0 text-nowrap">
                    <tr>
                      <th class="text-center">S/N</th>
                      <th>Name</th>
                      <th>Phone No</th>
                      <th>Type</th>
                      <th>Order Date</th>
                      <th>Delivered Date</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                    <tr *ngFor="let i of customer?.purchases.purchases; let index = index">
                      <td class="">{{index + 1}}</td>
                      <td class="">{{i.name}}</td>
                      <td class="">{{i.phoneNo}}</td>
                      <td class="">{{i.type}}</td>
                      <td class="">{{i.createdAt | date: "mediumDate"}}
                      </td>
                      <td class="">{{i.deliveredDate | date: "mediumDate"}}</td>

                      <td><label
                          [ngClass]="{'badge badge-success badge-pill': i.status === 'Delivered', 'badge badge-warning': i.status === 'Pending'}">{{i.status}}</label>
                      </td>
                      <td>
                        <button title="View Order detail" (click)="viewOrder(i.id)" class="btn btn-outline-success"><i
                            class="fa fa-eye"></i>
                        </button>
                      </td>

                    </tr>
                  </table>
                  <table *ngIf="showDetails" class="table table-bordered table-striped table-bordered mb-0 text-nowrap">
                    <tr>
                      <th class="">S/N</th>
                      <th>Product</th>
                      <th>Price</th>
                      <th>Quantity</th>
                    </tr>
                    <tr *ngFor="let detail of details; let index = index">
                      <td class="">{{index + 1}}</td>
                      <td class="">{{detail.productName}}</td>
                      <td class="text-right">
                        {{detail.price | currency: '&#8358; '}}
                      </td>
                      <td class="">{{detail.unit}}</td>

                    </tr>

                    <tr>
                      <th style="background-color: white;" class=""></th>
                      <th style="background-color: white; color: black;" class="">Total</th>
                      <th style="background-color: white; color: black;" class="text-right">
                        {{total | currency: '&#8358; '}}</th>
                      <th style="background-color: white;" class=""></th>
                    </tr>

                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h4>Farm Investments count: {{customer?.investments.inv.length}}</h4>
            </div>
            <div class="card-body">
              <div class="e-table">
                <div class="table-responsive table-lg">
                  <table class="table table-bordered table-striped table-bordered mb-0 text-nowrap">
                    <tr>
                      <th class="text-center">S/N</th>
                      <th> Investor</th>
                      <th> Amount</th>
                      <th>Unit</th>
                      <th>Roi</th>
                      <th>Payment Type </th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Status</th>
                    </tr>
                    <tr *ngFor="let item of customer?.investments.inv; let i = index">
                      <td class="">{{i + 1}}</td>
                      <td class="">{{item?.investor}}</td>
                      <td class="text-right">{{item?.amount | currency: '&#8358; '}}</td>
                      <td class="">{{item?.unit}}</td>
                      <td class="text-right">{{item?.roi | currency: '&#8358; '}}</td>
                      <td class="">{{item?.paymentType}}</td>
                      <td class="">{{item?.startDate | date: "mediumDate"}}</td>
                      <td class="">{{item?.endDate | date: "mediumDate"}}</td>
                      <td><label
                          [ngClass]="{'badge badge-warning badge-pill size': item.status === 'Pending', 'badge badge-success': item.status === 'Activated'}">{{item.status}}</label>
                      </td>

                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
