<div class="container app-content">
    <h1>Notifications</h1>
    <div *ngFor="let item of notifications">
        <div class="notification-container">
            <div style="margin-left: 50px;">
                    <p>{{item.message}}</p>
                    <small>{{item.createdAt | timeago:live}}</small>
            </div>
        </div>
        <hr>
    </div>
    <div style="margin: 20px;">
        <span *ngIf="notifications.length === 0">You have no notifications at this time.</span>

    </div>
</div>
