<div class="app-content">
    <section class="section">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Edit</a></li>
            <li class="breadcrumb-item active" aria-current="page">Farmify Orders</li>
        </ol>
        <a [routerLink]="['/admin/orders-list']" class="float-right btn btn-outline btn-xs btn-gray m-b-5 m-t-5">
            <i class="fa fa-reply-all" data-toggle="tooltip" title="fa-reply-all"></i>
        </a>

        <div class="section-body">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>SUBSCRIBER INFO</h4>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label for="name">Name</label>
                                        <input type="text" id="name" name="name" [(ngModel)]="partner.name" class="form-control" readonly>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="address">Address</label>
                                        <input type="text" id="address" name="address" [(ngModel)]="partner.address" class="form-control"  readonly>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="phone">Phone No.</label>
                                        <input type="text" id="phone" name="phone" [(ngModel)]="partner.phoneNo" class="form-control"  readonly>
                                    </div>
                                    
                                    <div class="form-group col-md-4">
                                        <label for="email">Email</label>
                                        <input type="text" id="email" name="email" class="form-control" [(ngModel)]="partner.email" readonly>
                                    </div>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="e-panel card">
                        <div class="card-header">
                            <h4>FARMIFY ORDERS ({{partner.PurchaseDetails.length}}) <small style="color: white;">You can edit or delete each item by pressing on any of the actions button and click <b>Save</b> afterwards.</small></h4>
                        </div>
                        <div class="card-body">
                            <div class="e-table">
                                <div class="table-responsive table-lg">
                                    <table class="table table-bordered table-striped table-bordered mb-0 text-nowrap">
                                        <tr>
                                            <th>S/N</th>
                                            <th>Product</th>
                                            <th class="text-center">Price</th>
                                            <th>Unit</th>
                                            <th>Actions</th>
                                        </tr>
                                        <tr *ngFor="let item of partner.PurchaseDetails; let i = index">
                                            <td class="">{{i + 1}}</td>
                                            <td class="">{{item?.productName}}</td>
                                            <td class="text-right">{{item?.price | currency: '&#8358; '}}</td>
                                            <td class="">{{item?.unit}}</td>
                                            <td class="">
                                                
                                                <a title="Edit" (click)="edit(i)"
                                                    class="btn btn-outline-warning"><i class="fa fa-pencil"></i>
                                                    </a>
                                                &nbsp;
                                                <button title="Delete" class="btn btn-outline-danger" (click)="delete(i)"><i
                                                        class="fe fe-trash-2"></i> </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="text-right card-footer">
                            <button (click)="save()" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>