<div class="app-content">
    <section class="section">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">List</a></li>
            <li class="breadcrumb-item active" aria-current="page">Investments</li>
        </ol>
        <a class="float-right btn btn-outline btn-lg btn-gray m-b-5 m-t-5"><i class="fe fe-plus-square"></i> Refresh</a>
        <!-- <a [routerLink]="['/admin/packages-create']" class="float-right btn btn-outline btn-lg btn-primary m-b-5 m-t-5"><i class="fe fe-plus-square"></i> Create</a> -->
            <!-- <a class="btn btn-green dropdown-toggle pull-right" href="#" role="button" id="print" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fe fe-printer"></i> Action
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Print</a>
              <a class="dropdown-item" href="#">Export to Excel</a>
              <a class="dropdown-item" href="#">Import from Excel</a>
            </div> -->

        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="float-right">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary"><i class="ion ion-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <h4>FARM INVESTMENTS</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered mb-0 text-nowrap">
                                    <tr>
                                        <th>S/No.</th>
                                        <th>Package</th>
                                        <th>Units</th>
                                        <th>Subscribers</th>
                                        <th>Cycle</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
