<div class="main-wrapper">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><span class="text-danger">Delete</span></h5>
                    <button type="button" class="close" data-dismiss="modal" [routerLink]="['/admin/products-list']" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="mb-0">Are you sure you want to <span class="text-danger">delete</span> this?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" [routerLink]="['/admin/products-list']">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="app-content">
    <section class="section">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Delete</a></li>
            <li class="breadcrumb-item active" aria-current="page">Products</li>
        </ol>
        <a [routerLink]="['/admin/products-list']" class="float-right btn btn-outline btn-xs btn-gray m-b-5 m-t-5">
            <i class="fa fa-reply-all" data-toggle="tooltip" title="fa-reply-all"></i>
        </a>

        <div class="section-body">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>PRODUCTS</h4>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label for="productimage" class="">Profile Image</label>
                                        <input type="file" id="productimage" class="form-control1" multiple="" readonly>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="productname">Product Name</label>
                                        <input type="text" id="productname" class="form-control" placeholder="" readonly>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="Price">Price</label>
                                        <input type="text" id="Price" class="form-control" placeholder="" readonly>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="dimension">Dimension</label>
                                        <input type="text" id="dimension" class="form-control" placeholder="" readonly>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="specification">Specification</label>
                                        <textarea type="text" id="specification" class="form-control" placeholder="" readonly
                                            readonly></textarea>
                                    </div>
                                    <!-- <div class="form-group col-md-4">
                                        <label for="col-form-label">Product Type</label>
                                            <select class="form-control">
                                                <option>Full</option>
                                                <option>Part</option>
                                            </select>
                                    </div> -->
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>