<div class="main-wrapper">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><span class="text-danger">Delete</span></h5>
                    <button type="button" class="close" data-dismiss="modal" [routerLink]="['/admin/staffs-user-list']" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="mb-0">Are you sure you want to <span class="text-danger">delete</span> this?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal" [routerLink]="['/admin/staffs-user-list']">Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>