<div class="app-content">
    <section class="section">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">View</a></li>
            <li class="breadcrumb-item active" aria-current="page">Farm Investments</li>
        </ol>
        <a [routerLink]="['/admin/investments-list']" class="float-right btn btn-outline btn-xs btn-gray m-b-5 m-t-5">
            <i class="fa fa-reply-all"></i>
        </a>

        <div class="section-body">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>FARM INVESTMENTS</h4>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="investorname"> Investor Name</label>
                                            <input type="text" id="investorname" class="form-control" placeholder=""
                                                readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="phone">Phone No.</label>
                                            <input type="tel" id="phone" class="form-control" placeholder="" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="address">Address</label>
                                            <input type="text" id="address" class="form-control" placeholder=""
                                                readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" id="email" class="form-control" placeholder="" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="account">Acount No.</label>
                                            <input type="text" id="account" class="form-control" placeholder=""
                                                readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="startdate">Start Date</label>
                                            <input type="datetime" id="startdate" class="form-control" placeholder=""
                                                readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="enddate">End Date</label>
                                            <input type="datetime" id="enddate" class="form-control" placeholder=""
                                                readonly>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>