<aside class="app-sidebar">
  <div class="app-sidebar__user">
    <div class="dropdown">
      <a class="nav-link pl-2 pr-2 leading-none d-flex" data-toggle="dropdown" href="#">
        <img alt="image" src="{{ photo ? photo : 'assets/img/avat.png' }}" class="avatar-md rounded-circle" />
        <span class="ml-2 d-lg-block">
          <span class="text-white app-sidebar__user-name mt-5">{{ user?.firstName }} {{ user?.lastName }}</span><br />
          <span class="text-muted app-sidebar__user-name text-sm">
            {{ user?.email }}</span>
        </span>
      </a>
    </div>
  </div>
  <ul class="side-menu">
    <li class="slide">
      <a class="side-menu__item" data-toggle="slide" href=""><i
          class="side-menu__icon fa fa-desktop"></i><span class="side-menu__label">Dashboards</span><i
          class="angle fa fa-angle-right"></i></a>
      <ul class="slide-menu">
        <li>
          <a class="side-menu__item" [routerLink]="['/admin/dashboard']">
            <i class="side-menu__icon fa fa-asterisk"></i><span class="side-menu__label">Food Bank
              Dashboard</span></a>
        </li>
        <li>
          <a class="side-menu__item" [routerLink]="['/admin/farm-dashboard']">
            <i class="side-menu__icon fa fa-leaf"></i><span class="side-menu__label">Farm Inv.
              Dashboard</span></a>
        </li>

        <!-- <li>
          <a class="side-menu__item" [routerLink]="['/admin/dashboard']">
            <i class="side-menu__icon fa fa-group"></i><span class="side-menu__label">Marketing
              Dashboard</span></a>
        </li> -->
        <!-- <li>
          <a class="side-menu__item" [routerLink]="['/admin/dashboard']">
            <i class="side-menu__icon fa fa-group"></i><span class="side-menu__label">
              Sales Dashboard</span></a>
        </li> -->
        <!-- <li>
          <a class="side-menu__item" [routerLink]="['/admin/dashboard']">
            <i class="side-menu__icon fa fa-circle"></i><span class="side-menu__label">HR
              Dashboard</span></a>
        </li> -->
      </ul>
    </li>

    <li>
      <a class="side-menu__item" [routerLink]="['/admin/products-list']"><i class="side-menu__icon fa fa-cube"></i><span
          class="side-menu__label">Products</span></a>
    </li>

    <li class="slide">
      <a class="side-menu__item" data-toggle="slide" href=""><i
          class="side-menu__icon fa fa-leaf"></i><span class="side-menu__label">Farm</span><i
          class="angle fa fa-angle-right"></i></a>
      <ul class="slide-menu">
        <li>
          <a class="side-menu__item" [routerLink]="['/admin/packages-list']"><i
              class="side-menu__icon fa fa-cubes"></i><span class="side-menu__label">Packages</span></a>
        </li>
        <li>
          <a class="side-menu__item" [routerLink]="['/admin/investments']"><i
              class="side-menu__icon fa fa-bar-chart"></i><span class="side-menu__label">Investments</span></a>
        </li>
      </ul>
    </li>

    <li class="slide">
      <a class="side-menu__item" data-toggle="slide" href=""><i
          class="side-menu__icon fa fa-asterisk"></i><span class="side-menu__label">Food Bank</span><i
          class="angle fa fa-angle-right"></i></a>
      <ul class="slide-menu">
        <li>
          <a class="side-menu__item" [routerLink]="['/admin/farmify-market-subscribers']"><i
              class="side-menu__icon fa fa-group"></i><span class="side-menu__label">Subscribers</span></a>
        </li>
        <li>
          <a class="side-menu__item" [routerLink]="['/admin/orders-list']"><i
              class="side-menu__icon fa fa-shopping-cart"></i><span class="side-menu__label">Orders</span></a>
        </li>
      </ul>
    </li>

    <li>
      <a class="side-menu__item" [routerLink]="['/admin/customers-list']"><i
          class="side-menu__icon fa fa-group"></i><span class="side-menu__label">Customers</span></a>
    </li>

    <li class="slide">
      <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fa fa-circle"></i><span
          class="side-menu__label">Management</span><i class="angle fa fa-angle-right"></i></a>
      <ul class="slide-menu">
        <li>
          <a class="side-menu__item" [routerLink]="['/admin/dashboard']"><i
              class="side-menu__icon fa fa-cogs"></i><span class="side-menu__label">Configuration</span></a>
        </li>
        <li>
          <a class="side-menu__item" [routerLink]="['/admin/staffs-user-list']"><i
              class="side-menu__icon fa fa-male"></i><span class="side-menu__label">Staffs / Roles</span></a>
        </li>
        <li>
          <a class="side-menu__item" [routerLink]="['/admin/migration']"><i
              class="side-menu__icon fa fa-upload"></i><span class="side-menu__label">Migration</span></a>
        </li>
      </ul>
    </li>

    <li>
      <a class="side-menu__item" [routerLink]="['/login']"><i class="side-menu__icon fa fa-sign-out"></i><span
          class="side-menu__label">Log Out</span></a>
    </li>
  </ul>
</aside>
