<div class="app-content">
    <section class="section">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">List</a></li>
            <li class="breadcrumb-item active" aria-current="page">Farm Packages</li>
        </ol>
        <a [routerLink]="['/admin/packages-create']" class="float-right btn btn-outline btn-lg btn-gray m-b-5 m-t-5"><i class="fe fe-plus-square"></i> Create</a>
        <div class="section-body">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="float-right">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary"><i class="ion ion-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <h4>FARM PACKAGES LIST</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered mb-0 text-nowrap">
                                    <tr>
                                        <th>S/No.</th>
                                        <th>Farm Name</th>
                                        <th>Amount Per Unit</th>
                                        <th>ROI</th>
                                        <th>Circle</th>
                                        <th>Unit Available</th>
                                        <th>Location</th>
                                        <th>Action</th>
                                    </tr>
                                    <tr>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
