<div class="app-content">
    <section class="section">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">List</a></li>
            <li class="breadcrumb-item active" aria-current="page">Products</li>
        </ol>
        <a [routerLink]="['/admin/products-create']" class="float-right btn btn-outline btn-lg btn-gray m-b-5 m-t-5"><i class="fe fe-plus-square"></i> Create</a>
       
        <div class="section-body ">

            <div class="row">
                <div class="col-lg-12">
                    <div class="e-panel card">
                        <div class="card-header">
                            <div class="float-right">
                                <form>
                                    <div class="input-group">
                                        <input type="text" (input)="onChange(search)" name="search" [(ngModel)]="search" class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary"><i class="ion ion-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <h4>PRODUCTS LIST ({{products?.totalItems}})</h4>
                        </div>
                        <div class="card-body">
                            <div class="e-table">
                                <div class="table-responsive table-lg">
                                    <table class="table table-bordered table-striped table-bordered mb-0 text-nowrap">
                                            <tr>
                                                <th class="text-center">S/N</th>
                                                <th>Product Name</th>
                                                <th>Price</th>
                                                <th>Created At</th>
                                                <th class="text-center">Actions</th>
                                            </tr>
                                        <tr *ngFor="let item of products.data | paginate : {
                                                    itemsPerPage: size,
                                                    currentPage: page,
                                                    totalItems: products.totalItems
                                                }; let i = index">
                                            <td class="align-middle text-center">{{i + 1}}</td>
                                            <td class="">{{item?.productName}}</td>
                                            <td class="text-right">{{item?.price  | currency: '&#8358; '}}</td>
                                            <td class="">{{item?.createdAt | date: "mediumDate"}}</td>

                                            <td class="">
                                                <a [routerLink]="['/admin/products-view', item.id]"
                                                    class="btn btn-outline-success"><i class="fa fa-binoculars"></i>
                                                    View</a>
                                                &nbsp;
                                                <a [routerLink]="['/admin/products-edit', item.id]"
                                                    class="btn btn-outline-warning"><i class="fe fe-edit-2"></i>
                                                    Edit</a>
                                                &nbsp;
                                                <button (click)="delete(item.id)" class="btn btn-outline-danger" ><i class="fe fe-trash-2"></i> Delete</button>
                                            </td>
                                        </tr>
                                       
                                    </table>
                                </div>
                               
                            </div>
                        </div>
                        <div >
                            <pagination-controls
                            class="my-pagination"
                                previousLabel="Prev"
                                nextLabel="Next"
                                responsive="true"
                                (pageChange)="handlePageChange($event)">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>