<div class="app-content">
    <section class="section">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">List</a></li>
            <li class="breadcrumb-item active" aria-current="page">Customers</li>
        </ol>
          <a (click)="refresh()"
            class="float-right btn btn-outline btn-lg btn-gray m-b-5 m-t-5"><i class="fe fe-plus-square"></i> Refresh</a>
        <!-- <a [routerLink]="['/admin/clients-user-create']"
            class="float-right btn btn-outline btn-lg btn-gray m-b-5 m-t-5"><i class="fe fe-plus-square"></i> Create</a>
        <a class="btn btn-secondary dropdown-toggle pull-right" href="#" role="button" id="print" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fe fe-printer"></i> Action
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Print</a>
            <a class="dropdown-item" href="#">Export to Excel</a>
            <a class="dropdown-item" href="#">Import from Excel</a>
        </div> -->
        <div class="section-body ">

            <div class="row">
                <div class="col-lg-12">
                    <div class="e-panel card">
                        <div class="card-header">
                            <div class="float-right">
                                <form>
                                    <div class="input-group">
                                        <input type="text" (input)="onChange(search)" name="search" [(ngModel)]="search" class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary"><i class="ion ion-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <h4>CUSTOMERS ({{customers?.totalItems}})</h4>
                        </div>
                        <div class="card-body">
                            <div class="e-table">
                                <div class="table-responsive table-lg">
                                    <table class="table table-bordered table-striped table-bordered mb-0 text-nowrap">
                                        <tr>
                                            <th class="text-center">S/N</th>
                                            <th>Full Name</th>
                                            <th>Email</th>
                                            <th>Phone No.</th>
                                            <th>Date Registered</th>
                                            <th>Bank Name</th>
                                            <th>Acct No </th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                        <tr *ngFor="let item of customers?.data | paginate : {
                                            itemsPerPage: size,
                                            currentPage: page,
                                            totalItems: customers?.totalItems
                                        }; let i = index">
                                            <td class="">{{i + 1}}</td>
                                            <td class="">{{item?.firstName}} {{item?.middleName}} {{item?.lastName}}</td>
                                            <td class="">{{item?.email}}</td>
                                            <td class="">{{item?.phoneNo}}</td>
                                            <td class="">{{item?.createdAt | date: "mediumDate"}}</td>
                                            <td class="">{{item?.bankName}}</td>
                                            <td class="">{{item?.acctNo}}</td>

                                            <td class="">
                                                <a [routerLink]="['/admin/customers-view', item.id]"
                                                    class="btn btn-outline-success"><i class="fa fa-eye"></i></a>
                                                &nbsp;
                                                <button class="btn btn-outline-danger" (click)="delete(item.id)"><i
                                                        class="fe fe-trash-2"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div>
                            <pagination-controls
                            class="my-pagination"
                                previousLabel="Prev"
                                nextLabel="Next"
                                responsive="true"
                                (pageChange)="handlePageChange($event)">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
