/* You can add global styles to this file, and also import other style files */
.errormsg {
    font-size: 10px;
} 
.align {
    margin-right: 187px;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: green;
  }